/*
MAIN COLOR PALETTE:
brown-dark: #392518;
brown-light: #d2bfa7;
brown-lighter: #efe8df;

black: #000;
white: #fff;
*/

.header {
    background-image: linear-gradient(rgba(00, 00, 00, .1), rgba(00, 00, 00, .1)) ,url('../../img/cover.jpg');
    background-size: cover;
    background-position: top;
}

.heading-primary {
    display: inline-block;
    font-size: 180px;
    font-weight: 900;
    letter-spacing: 5px;
    text-transform: uppercase;
    margin: 60px 0;
    padding: 50px 80px;
    
    line-height: 1;
    position: relative;
    text-align: center;
    mix-blend-mode: screen;
    background-color: rgba(253, 253, 253, 0.95);
}