/*
MAIN COLOR PALETTE:
brown-dark: #392518;
brown-light: #d2bfa7;
brown-lighter: #efe8df;

black: #000;
white: #fff;
*/

.table {
    border-collapse: collapse;
    border-style: hidden;
    box-shadow: 0 5px 30px rgba(00, 00, 00, .15);
}

.table:last-child {
    margin-bottom: 80px;
}

.table__row:not(:last-child) {
    border-bottom: 2px solid #efe8df;
}

.table__cell {
    padding: 10px 40px;
}

.table__cell:not(:last-child) {
    border-right: 2px solid #efe8df;
}

.table__cell--header {
    cursor: pointer;
    background-color: #efe8df;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 2px;
    border-bottom: 2px solid #fff;
}

.table__cell--header:not(:last-child) {
    border-right: 2px solid #fff;    
}