/*
MAIN COLOR PALETTE:
brown-dark: #392518;
brown-light: #d2bfa7;
brown-lighter: #efe8df;

black: #000;
white: #fff;
*/

@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,700,800,900&display=swap');

.App {
  font-family: Montserrat, sans-serif;
  text-align: center;
  color: #392518;
}

::selection {
  background-color: #efe8df;
}